.sidebar{
    position: fixed;
    top:0;
    left: -100%;
    width:100%;
    height: 100vh;
    background-color: #00004d;
    transition: top 0.3s;
}

#rightSidebarButton {
    background-color: #00004d;
}

ul.sideBarList {
    flex-direction: column !important;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: white;
}

ul.sideBarList>li>a {
    color: white;
    line-height: 2rem;
}

ul.sideBarList>* {
    /* margin-left: 3rem; */
    margin-left: 1rem;
    margin-right: 1rem;
}

ul.sideBarList>li.active {
    background: #4ECDC4;
}

.showSideBar {
    /* top: 3.5rem; */
    left:0;
    transition: left 0.3s;
    width: 20%;
}

.showSideBarparent {
    width: 80%;
    float: right;
    transition: left 0.3s;
}

#navbarSupportedContent>ul>li.active {
    border-bottom: 2px solid skyblue;
}

@media only screen and (max-width: 48rem) {
    .showSideBar {
        /* top: 3.5rem; */
        left:0;
        width: 100%;
        transition: top 0.3s;
        position: relative;
    }
    /*li {
        list-style: none;
        margin-right: 3.5rem;
    }*/
}

@media only screen and (min-width: 48rem) {
    .applyLeftOnMedDev {
        margin-left: 5rem;
    }
}
.btn-group button {
  
    border: 1px solid lightgrey; 
    color: #007bff; 
    padding-left: 2rem;
    padding-right: 2rem;
    /* padding: 10px 24px;  */
    /* cursor: pointer;  */
     
}

.activeButton {
    border: 2px solid skyblue !important;
}

.btnLast{
    border-right: 1px solid lightgrey !important;
}
.measure{
    color: blue;
}
.user-image{
    width: 39px;
}

.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button:not(:last-child) {
    border-right: none; 
}




li.nav-item>span {
    float: left;
}

.tasks {
    font-weight: 300;
}

li.nav-item>span>a {
    color: white;
    font-weight: lighter;
    font-family: inherit;
}

li.nav-item>* {
    float: right;
}